<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ml-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Opiniones</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Terapias</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contacto</a></li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Bienvenido, nos alegra que estés aquí</div>
            <div class="masthead-heading text-uppercase">Nuestra prioridad es tu salud</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Quiero saber más </a>
        </div>
    </header>
    <!-- clientes-->
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Las opiniones de nuestros pacientes </h2>
                <h3 class="section-subheading text-muted">Cada mes actualizamos las opiniones más destacadas en nuestros
                    clientes.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <%= image_tag("experiencias/mireya.jpg", class:"mx-auto rounded-circle")%>
                        <h4>Mirella Rivera</h4>
                        <p class="text-muted">Soy enfermera desde hace 22 años, toda mi vida he vivido en alerta ante
                            cualquier enfermedad, desde que el virus tomo tanta fuerza me sentía expuesta en todo
                            momento y tenía miedo de perder mis seres queridos, por lo que vivía a diario en mi trabajo;
                            mi nivel de estrés fue tan alto que mi familia decidió contactar con la doctora Janeth,
                            hace
                            tres meses estoy en tratamiento; puedo confirmar que me siento de nuevo tranquila y feliz.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <%= image_tag("experiencias/Carolina.jpg", class:"mx-auto rounded-circle")%>
                        <h4>Carolina Muños </h4>
                        <p class="text-muted">Desde hace 5 años presentaba una serie de dolores que me impedían
                            continuar con mi vida normal, los doctores nunca lograron entenderlo, solo me formulaban
                            medicamentos que empeoraron mi salud y me generaron dependencias. La doctora Jnaeth desde
                            la
                            primera consulta logro identificar como me podía ayudar, esto fue un proceso maravilloso en
                            el cual poner de tu parte es una de las cosas más importantes; no sé cómo agradecer todo lo
                            que hizo en mí.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <%= image_tag("experiencias/jaime.jpg", class:"mx-auto rounded-circle")%>
                        <h4>Jaime Zapata </h4>
                        <p class="text-muted">Perder mi esposa luego de 35 años de estar juntos fue una de las
                            experiencias más duras de toda mi vida, pensé que partiría con ella, pues parecía estar vivo
                            pero mi alma muerta. Luego de dedicación y constancia la Doctora Janeth logro ayudarme a
                            superar mi dolor con regresiones que me hacen sentir a gusto de todo lo que pase con mi
                            esposa. </p>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <p class="large text-muted">Si ya utilizaste nuestros servicios también podemos resaltar tu
                        experiencia con nosotros, contáctate con nuestros asesores para ser uno de los que aparece
                        anteriormente.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- About-->
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Doctora Janeth Alvarado</h2>
                <h3 class="section-subheading text-muted">"Mi misión es ayudarte ha superar tus obstáculos con medicina
                    natural"</h3>
            </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-image"><%= image_tag("nosotros/janeth.jpg", class:"rounded-circle img-fluid")%>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>2010-2012</h4>
                            <h4 class="subheading">Su comienzo</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">La doctora Janeth logro descubrir lo destructivo que puede ser un
                                medicamento mal suministrado, por eso en Colombia, le dieron el premio Medicina Natural
                                Funcional; después de ayudar a varias personas con
                                problemas medicinales y tratarlos solo con herramientas naturales.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <%= image_tag("nosotros/angeldeluz.jpg", class:"rounded-circle img-fluid",  style: "width: 100%; height: 160px")%>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>2014-2016</h4>
                            <h4 class="subheading">Un Ángel de luz</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">En 2014 la doctora Janeth apoyo una fundación llamada “Sanaré con
                                amor”, esta fundación ayudaba a personas con problemas de adicciones, depresiones;
                                ansiedad y estrés. En esta fundación la denominaron “El Ángel de Luz”, luego de ayudar
                                más de 50 personas que no lograban avanzar en sus vidas, manteniendo siempre su
                                perspectiva “Con lo natural todo se puede lograr”.</p>
                        </div>
                    </div>
                </li>

                <li class="timeline-panel">
                    <div class="timeline-image">
                        <%= image_tag("nosotros/covi.png", class:"rounded-circle img-fluid",  style: "width: 100%; height: 160px")%>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4>Junio 2020</h4>
                            <h4 class="subheading">Tenemos que estar preparados</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">La doctora Janeth realiza un trabajo arduo desde principios del 2020
                                con el fin de preparar las personas para cuando lleguen a tener el virus. La Doctora
                                Janeth afirma que lo más importante del virus es como nos preparamos ante una situación
                                en la cual lo tengamos, por tal motivo trata cientos de personas en este momento que
                                padecen o son probables a padecer el virus. Las experiencias se reflejan en personas que
                                tratadas y luego recuperadas de una forma exitosa. </p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>
                            Quiero
                            <br />
                            Estar
                            <br />
                            Preparado
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Servicios</h2>
                <h3 class="section-subheading text-muted">Nuestra misión es que tengas la calidad de vida que te
                    mereces.</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-leaf fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Homeopatía</h4>
                    <p class="text-muted">Los aceites esenciales, además de las medicinas homeopáticas han sido nuestras
                        herramientas por más de 23 años, curando múltiples patologías y casos de personas que
                        recuperaron sus vidas luego de enfrentar una difícil situación.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-clock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">Regresiones</h4>
                    <p class="text-muted">Migraña, Depresión, insomnio, problemas emocionales y sensación de angustia o
                        desespero se pueden tratar mediante las regresiones y la hipnosis, cada sesión buscará conectar
                        sus impulsos energéticos, su pasado y la energía de su aura.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-child fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="my-3">El color de mi Aura</h4>
                    <p class="text-muted">Todos los humanos contamos con una aro de energía que cubre nuestro ser. Los
                        primeros en tratar de ver el aura fueron Seymon y Valentina Kirlian en 1939, ellos diseñaron un
                        dispositivo que al día de hoy nos permite identificar tu aura y hacer una foto, en donde
                        identificamos tus habilidades o debilidades.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio terapias-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Terapias</h2>
                <h3 class="section-subheading text-muted">Si la mente está ocupada con pensamientos positivos es más
                    difícil que el cuerpo se enferme.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>

                            <%= image_tag("servicios/1.png", class: "img-fluid" )%>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Aroma Terapias </div>
                            <div class="portfolio-caption-subheading text-muted">Relajación y sanación.</div>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <%= image_tag("servicios/2.jpg", class: "img-fluid", style:"width: 100%; height: 240px" )%>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Interpretación de auras</div>
                            <div class="portfolio-caption-subheading text-muted">¿sabes lo que puede comunicar una
                                imagen?</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <%= image_tag("servicios/6.jpg", class: "img-fluid", style: "width: 100%; height: 240px" )%>
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">Terapia Energetica</div>
                            <div class="portfolio-caption-subheading text-muted">Podemos ayudarte en un mejor equilibrio
                                mental.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contacto-->
    <section id="contact">
        <div class="container">
            <h3 class="text-center text-warning text-uppercase">Nos gustaría ayudarte</h3>
            <p class="text-center text-warning w-75 m-auto">Estamos interesado en que tengas una mejor calidad de vida.
            </p>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <i class="fa fa-phone fa-5x mb-4" aria-hidden="true"></i>
                            <h4 class="text-uppercase mb-5">Llamanos</h4>
                            <p>7785234</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <i class="fa fa-map-marker fa-5x mb-4" aria-hidden="true"></i>
                            <h4 class="text-uppercase mb-5">Oficinas</h4>
                            <address>Calle68 B Sur 80G 16</address>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4 my-5">
                    <div class="card border-0">
                        <div class="card-body text-center">
                            <i class="fa fa-globe fa-5x mb-4" aria-hidden="true"></i>
                            <h4 class="text-uppercase mb-5">Email</h4>
                            <p>consultas@consultoriodelosangeles.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-left">Copyright ©LosAngeles2020</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/doc.janethalvarado/"><i
                            class="fab fa-instagram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/janethalvaradomendieta"><i
                            class="fab fa-facebook-f"></i></a>

                </div>
                <div class="col-lg-4 text-lg-right">
                    <a class="mr-3" href="#!">Privacy Policy</a>
                    <a href="#!">Terms of Use</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals-->
    <!-- Modal 1-->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><%= image_tag("close-icon.svg", alt: "Close modal" )%>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h4 class="text-uppercase">Aromaterapia</h4>
                                <p class="item-intro text-muted">Un hábito que mejorara tu vida </p>
                                <%= image_tag("servicios/1-1.jpg", class: "img-fluid" )%>
                                <p>Implementamos sesiones con el fin de identificar cuáles son los mayores placeres de
                                    tu mente para darte un espacio de tranquilidad y reconstrucción interna.</p>
                                <ul class="list-inline">
                                    <li>Sesiones disponibles: 10 Sesiones</li>
                                    <li>Numero: +(57) 3053981647</li>
                                    <li>Consultorio: De los Angeles</li>
                                    <li>Dirección: Carrera 8 #Nº 64-42, Bogotá, Cundinamarca</li>
                                    <br>
                                    <br>
                                    <li class="mark">Luego de las medidas tomadas debido al COVID-19, nuestros
                                        consultorios se encuentran cerrados; contáctanos para apartar
                                        una consulta online.</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2-->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><%= image_tag("close-icon.svg", alt: "Close modal" )%>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h4 class="text-uppercase">Interpretación de auras por medio de imagenes</h4>
                                <p class="item-intro text-muted">Identifica tu potencial.</p>
                                <%= image_tag("servicios/2-2.jpg", class: "img-fluid")%>
                                <p>La doctora Janeth Alvarado Torres descubrió la herramienta “El color de mi aura”,
                                    ella dice
                                    que cada
                                    uno de los seres humanos tenemos un aura que define como estamos en condiciones de
                                    salud, ella respalda este pensamientos con muchísimos estudios que se realizan con
                                    el pasar de los años.</p>
                                <ul class="list-inline">
                                    <li>Sesiones disponibles: 10 Sesiones</li>
                                    <li>Numero: +(57) 3053981647</li>
                                    <li>Consultorio: El Poblado</li>
                                    <li>Dirección: Carrera 39 #8-14, Medellin</li>
                                    <br>
                                    <br>
                                    <li class="mark">Luego de las medidas tomadas debido al COVID-19, nuestros
                                        consultorios se encuentran cerrados; contáctanos para apartar
                                        una consulta online.</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 3-->

    <!-- Modal 4-->

    <!-- Modal 5-->

    <!-- Modal 6-->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><%= image_tag("close-icon.svg", alt: "Close modal" )%>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h4 class="text-uppercase">Terapias Energéticas</h4>
                                <p class="item-intro text-muted">Recuperacion de energia vital.</p>
                                <%= image_tag("servicios/6-6.png", class: "img-fluid" )%>
                                <p>La energia es una herramienta fundamental que permiten recuperar salud y bienestar
                                    del ser humano.</p>
                                <ul class="list-inline">
                                    <li>Sesiones disponibles: 10 Sesiones</li>
                                    <li>Numero: +(57) 3053981647</li>
                                    <li>Consultorio: Las mareas</li>
                                    <li>Dirección: CL 23 NO 6 18, SANTA MARTA</li>
                                    <br>
                                    <br>
                                    <li class="mark">Luego de las medidas tomadas debido al COVID-19, nuestros
                                        consultorios se encuentran cerrados; contáctanos para apartar
                                        una consulta online.</li>
                                </ul>
                                <button class="btn btn-primary" data-dismiss="modal" type="button">
                                    <i class="fas fa-times mr-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>